body { 
    padding-top: 65px; 
}

.clearfix 
{
    margin-bottom: 40px;
}

.imageLinkText 
{
   margin-bottom: 20px;
}


/* Layout
-------------------------------------------------- */

.content {
    background: #f4f4f4;
    margin: auto;
    width: auto;
}

.container-body {
    background: #fff url(../img/content-background.png) repeat-y;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: #ddd 0 1px 1px;
    padding: 25px 20px 20px;
    margin: auto;
    max-width: 940px;
    min-width: 940px;
    font-size: 12px;
    color: #333;
}

    .container-body:before, .container-body:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .container-body:after {
        clear: both;
    }

.main-container {
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: #ddd 0 1px 1px;
    margin: auto;
    max-width: 980px;
    min-width: 980px;
    padding: 20px;
    font-size: 12px;
    color: #333;
}

.bodyMenu {
    float: left;
    margin-left: -20px;
    overflow: hidden;
    padding: 0 20px;
    width: 166px;
}

.bodyText {
    width: 732px;
    float: right;
}

/* Body Styles
-------------------------------------------------- */

#doc {
    /*border-left: 1px solid #B6B6B6;*/
    /*padding-left: 20px;*/
    padding: 0;
    margin: 0;
}

blockquote p {
    font-size: 14px; /* default: 16px */
    font-weight: 300; /* default: 300 */
    line-height: 20px; /* default: 22.5px */
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: normal;
}

.content h1 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.content h2 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.03em;
    margin: 25px 0 15px 0;
}

.content h3 {
    font-size: 15px;
    margin: 25px 0 10px 0;
    color: #333;
    font-weight: bold;
}

.content h4 {
    font-size: 13px;
    margin: 25px 0 10px 0;
    color: #333;
    font-weight: bold;
}

.content h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.content h6 {
    font-size: 11px;
    text-transform: none;
}

    .content h6 a {
        color: #3b5998;
    }

        .content h6 a:hover {
            text-decoration: underline;
        }

/* SDK Reference pages Styles
-------------------------------------------------- */

div.referenceTitle {
    border-bottom: solid 1px #e2e2e2;
    color: #3c4c6c;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 5px;
}

.summarySection table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

    .summarySection table tr th {
        background: #f2f7fc;
        border: solid 1px #e2e2e2;
        border-bottom: none;
        font-size: 16px;
        padding: 3px 10px;
        font-weight: normal;
    }

    .summarySection table tr td {
        border: solid 1px #e2e2e2;
        font-size: 14px;
        text-align: left;
        padding: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 10px;
        vertical-align: top;
    }

        .summarySection table tr td span.itemName {
            font-family: Courier, Consolas, monospace;
        }

        .summarySection table tr td div.itemSummary {
            font-size: 12px;
            line-height: 20px;
            padding-left: 10px;
        }

div.itemDetails {
    position: relative;
    -webkit-background-clip: padding-box;
}

    div.itemDetails div.itemDetailsTitle {
        background: lightgray;
        font-family: Courier, Consolas, monospace;
        font-size: 14px;
        padding: 3px 10px;
    }

    div.itemDetails div.itemDetailsDescription {
        font-size: 13px;
        line-height: 18px;
        padding: 1em;
    }

    div.itemDetails div.itemDetailsValue {
        font-size: 13px;
        line-height: 18px;
        padding: 0 1em 1em 1em;
        font-weight: bold;
    }

div.params, div.return {
    margin-bottom: 20px;
}

span.paramsTitle, span.returnTitle {
    font-weight: bold;
}

div.paramDesc, div.returnDesc {
    margin: 5px 0 0 20px;
}

    div.paramDesc span.paramName {
        font-weight: bold;
    }

div.typeHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

    div.typeHeader div.namespace {
        padding-bottom: 5px;
    }

    div.typeHeader span.modifiers {
        display: block;
        font-size: 10px;
        margin: 0;
    }

    div.typeHeader span.typeName {
        font-size: 28px;
    }

    div.typeHeader span.father {
        display: block;
        font-size: 10px;
        margin: 0;
    }

p.overview {
    margin: 0 0 1em 0;
    font-size: 14px;
    line-height: 20px;
}

div.referenceSidebar a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

div.supportedProjects {
    margin-bottom: 20px;
}

    div.supportedProjects div.projectTitle {
        font-weight: bold;
    }



/* Error page Styles
-------------------------------------------------- */

.error-container {
    padding: 25px 20px 20px;
    font-size: 11px;
}

    .error-container .header {
        background: white;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding-bottom: 25px;
        padding-top: 0;
    }

    .error-container li {
        line-height: 1.28;
    }

    .error-container ul {
        padding-left: 3em;
        margin: 0 0 1em 0;
    }

/* SDK Reference pages Styles
-------------------------------------------------- */

div.referenceTitle {
    border-bottom: solid 1px #e2e2e2;
    color: #3c4c6c;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 5px;
}

.summarySection table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

    .summarySection table tr th {
        background: #f2f7fc;
        border: solid 1px #e2e2e2;
        border-bottom: none;
        font-size: 16px;
        padding: 3px 10px;
        font-weight: normal;
    }

    .summarySection table tr td {
        border: solid 1px #e2e2e2;
        font-size: 14px;
        text-align: left;
        padding: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 10px;
        vertical-align: top;
    }

        .summarySection table tr td span.itemName {
            font-family: Courier, Consolas, monospace;
        }

        .summarySection table tr td div.itemSummary {
            font-size: 12px;
            line-height: 20px;
            padding-left: 10px;
        }

div.itemDetails {
    position: relative;
    -webkit-background-clip: padding-box;
}

    div.itemDetails div.itemDetailsTitle {
        background: lightgray;
        font-family: Courier, Consolas, monospace;
        font-size: 14px;
        padding: 3px 10px;
    }

    div.itemDetails div.itemDetailsDescription {
        font-size: 13px;
        line-height: 18px;
        padding: 1em;
    }

    div.itemDetails div.itemDetailsValue {
        font-size: 13px;
        line-height: 18px;
        padding: 0 1em 1em 1em;
        font-weight: bold;
    }

div.params, div.return {
    margin-bottom: 20px;
}

span.paramsTitle, span.returnTitle {
    font-weight: bold;
}

div.paramDesc, div.returnDesc {
    margin: 5px 0 0 20px;
}

    div.paramDesc span.paramName {
        font-weight: bold;
    }

div.typeHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

    div.typeHeader div.namespace {
        padding-bottom: 5px;
    }

    div.typeHeader span.modifiers {
        display: block;
        font-size: 10px;
        margin: 0;
    }

    div.typeHeader span.typeName {
        font-size: 28px;
    }

    div.typeHeader span.father {
        display: block;
        font-size: 10px;
        margin: 0;
    }

p.overview {
    margin: 0 0 1em 0;
    font-size: 14px;
    line-height: 20px;
}

div.referenceSidebar a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

div.supportedProjects {
    margin-bottom: 20px;
}

    div.supportedProjects div.projectTitle {
        font-weight: bold;
    }

/* SDK Reference index page Styles
-------------------------------------------------- */
.namespaceCol {
    float: left;
    text-align: left;
    padding: 4px 10px 4px 6px;
    vertical-align: top;
    font-size: 11px;
    height: auto;
}

    .namespaceCol .namespaceName {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .namespaceCol ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

        .namespaceCOl ul li:first-child {
            padding: 0;
            border-width: 0;
        }

        .namespaceCol ul li {
            border-width: 1px 0 0 0;
            padding-top: 5px;
            padding-bottom: 0;
            line-height: 14px;
        }
