<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <link rel="icon" href="http://docs.csharpsdk.org/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://docs.csharpsdk.org/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://csharpsdk.org{{ page.url }}"/>
    <meta property="og:image" content="http://csharpsdk.org/assets/img/logo500x500.png"/>
    <meta property="og:site_name" content="Facebook SDK for .NET"/>
    <meta property="fb:admins" content="14812017,605430316,537883665"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28972181-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

<body class="MsdnPageBody" id="MTPS_Body">
	<div id="BodyBackground">
		<a href="http://github.com/facebook-csharp-sdk/facebook-csharp-sdk" class="hidden-xs">
			<img style="position: absolute; top: 0; right: 0; border: 0;"src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
		</a>
		<div class="IE ltr" id="ux-header">
			<div id="headerContainer">
				<div id="logoAndSearchBox">
					<div id="logo">
						<a title="Facebook ADK for .NET" href="/">
							<img src="/assets/img/logo32x32.png" />
						</a>
					</div>
					<div id="selectedTab">
						<a class="dropDownToggle" href="/">Facebook SDK for .NET</a>
					</div>
					<div class="Clear"></div>
					<div class="ux-internav">
						<div class="toclevel2">
							<a href="/docs" {% if page.url == "/docs/" %} class="active" {% endif %}>Docs</a>
							<a href="/docs/reference" {% if page.url contains "/docs/reference" %} class="active" {% endif %}>SDK Reference</a>
							<a href="/docs/windows" {% if page.url contains "/docs/windows" %} class="active" {% endif %}>Windows 8</a>
							<a href="/docs/phone" {% if page.url contains "/docs/phone" %} class="active" {% endif %}>Windows Phone</a>
							<a href="/docs/web" {% if page.url contains "/docs/web" %} class="active" {% endif %}>Web</a>
							<a href="/docs/about" {% if page.url contains "/docs/about" %} class="active" {% endif %}>About</a>
						</div>
					</div>
				</div>
			</div>
			<div id="blackBar">
				<div class="toclevel3">
				</div>
			</div>
		</div>

		<div class="Clear"></div>
		<div id="MainContent">
			<div id="top" class="container content">
				<h1>{{page.title}}</h1>
				<div class="row">
					<div class="col-md-3"><div id="toc"><h2>Table of Contents</h2></div>&nbsp;</div>
					<div class="col-md-9"><div id="doc">{{content}}</div></div>
				</div>
			</div>
		</div>
		<div id="ux-footer" class="IE ltr">
			<div id="footerContainer" class="container">
				<div id="fourColumnFooter">
					<div class="col-md-3" data-fragmentName="Column1">
						<div class="ListOfLinkLists">
							<div class="LinkList">
								<div class="LinkListTitle">Related developer sites</div>
								<div class="LinkListDescription"></div>
								<div class="Links">
									<ul class="LinkColumn" style="width: 100%">
										<li><a href="http://go.microsoft.com/fwlink/p/?linkid=282089">Visual Studio</a></li>
										<li><a href="http://go.microsoft.com/fwlink/p/?linkid=282085">Windows Azure</a></li>
										<li><a href="http://go.microsoft.com/fwlink/p/?linkid=280293">Windows Phone</a></li>
										<li><a href="http://msdn.microsoft.com/en-US/windows/apps/">Windows Development</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>              
					<div class="col-md-3">
						<div class="ListOfLinkLists">    
							<div class="LinkList">
								<div class="LinkListTitle">Downloads</div>
								<div class="LinkListDescription"></div>
								<div class="Links">
									<ul class="LinkColumn" style="width: 100%">
										<li><a href="http://go.microsoft.com/fwlink/p/?linkid=280301">Windows 8</a></li>
										<li><a href="http://go.microsoft.com/fwlink/p/?linkid=280302">Visual Studio Express 2012 for Windows 8</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>              
					<div class="col-md-3">
						<div class="ListOfLinkLists">
							<div class="LinkList">
								<div class="LinkListTitle">Connect with us</div>
								<div class="LinkListDescription"></div>
								<div class="Links">
<li><a href="https://www.facebook.com/csharpsdk">Find us on Facebook</a></li>
										<li><a href="https://twitter.com/csharpsdk">Follow us on Twitter</a></li>
										<li><a href="https://twitter.com/intent/follow?region=follow_link&screen_name=SanjeevOnTech&tw_p=followbutton&variant=2.0">Follow @SanjeevOnTech</a></li>
										<li><a href="https://twitter.com/intent/follow?original_referer=/docs%2Fweb%2F&region=follow_link&screen_name=prabirshrestha&tw_p=followbutton&variant=2.0">Follow @prabirshrestha</a></li>
								
																		</ul>
								</div>
							</div>
						</div>
					</div>              
					<div class="col-md-3">
						<div class="ListOfLinkLists">
							<div class="LinkList">
								<div class="LinkListTitle">Licensing Information</div>
								<div class="LinkListDescription"></div>
								<div class="Links">
									<ul class="LinkColumn" style="width: 100%">
										<li><a href="http://www.outercurve.org/">The Outercurve Foundation</a></li>
										<li><a href="http://www.apache.org/licenses/LICENSE-2.0">Code - Apache v2.0</a></li>
										<li><a href="http://creativecommons.org/licenses/by/3.0/">Documentation - Creative Commons</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>              
				</div>
			</div>
		</div>
    </div>
	<script src="/assets/js/jquery-1.7.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/prettify.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.smooth-scroll.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('code').addClass('prettyprint');
        prettyPrint();
        $('#doc h2').each(function(i, element) {
            var h2 = $(element);
            $('<h6><a href="#' + i + '">' + h2.text() + '</a></h6>').appendTo('#toc');
            h2.after($('<a id="' + i + '" />'));
        });
        $('#toc a').smoothScroll({offset: -80});
        $('#back-to-top').smoothScroll({offset: -50});
        $('#toc').affix({
          offset: {
              top: 100
            }
        });
      });
    </script>
  </body>
</html>
